.advantages-section {
  @extend %section;
}

.advantages_list {
    display: flex;
    @extend %list;
  }

  .advantages_item:not(:last-child) {
    margin-right: 30px;
  }
  
  .advantages_item-icon {
    background-color: var(--button-background);
    padding: 25px 100px;
    margin-bottom: 30px;
    border-radius: 4px;
  }  

  .advantages_item-name {
    font-weight: var(--font-weight-order-h1);
    line-height: 1.2;
    text-transform: uppercase;
    margin: 0;
  }
  
  .advantages_item-info {
    color: var(--text-gray-color);
    line-height: var(--line-h-checkbox-agreement);
    margin-bottom: 0;
    margin-top: 10px;
  }
