.our-team {
    background-color: var(--button-background);
    background-size: cover;
  }

  .our-team_card-list {
    display: flex;
    gap: 30px;
  }
  
  .our-team_card {
    text-align: center;
    background-color: var(--main-color);
    box-shadow: var(--box-shadow);
    border-radius: 4px;
    transition: var(--transition-timing);
  }
  
  .our-team_card:hover,
  .our-team_card:focus-within {
    transform: scale(1.06);
  }

  .our-team_card-info {
    padding: 30px 32px;
  }
  
  .our-team_card-name,
  .our-team_card-position {
    font-size: 16px;
    line-height: 1.1875;
    align-self: flex-end;
  }
  
  .our-team_card-name {
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .our-team_card-position {
    color: var(--text-gray-color);
    margin-bottom: 16px;
  }